a.out
.vscode
*exec*
*dSYM*
*.o
in.txt
input.txt
out.txt
output.txt
TODO
.DS_Store
*subject*
easy_find
span_test
exec_mutant_stack
btc
RPN
PmergeMe
testercpp09
inputstxt/
tester_cpp09ex00btc.sh
tester_cpp09ex01rpn.sh
ex02/out2.txt
ex02/out3.txt
ex02/test.sh
ex02/tester.py
ex02/to_do
megatest.sh
out4.txt